@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 1.1rem;
    font-family: 'Elms Sans', Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: rgb(34, 34, 34);
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    padding: 1.5rem 0;
    margin-top: auto;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: white;
}

header {
    border-bottom: 1px solid rgba(0,0,0,0.19);
    box-shadow: 0px 32px 18px -22px rgba(0,0,0,0.09);
    padding: 0.6rem 0;
}

/* Dropdown menu */
/* styling: https://daisyui.com/components/navbar/#responsive-dropdown-menu-on-small-screen-center-menu-on-large-screen */
.dropbtn {
    background: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.09);
}
